#wrap {
    /* margin : 0px 430px; */
    display : flex;
    flex-direction : column;
    align-items: center;
}
#classRegister {
    padding : 0px 10px;
}
#classRegister > table {
    text-align: center;
}
#classRegister > table > thead > tr > #className {
    width : 300px;
}
#classRegister > table > thead > tr > #roomNumber {
    width : 100px;
}
#classRegister > table > thead > tr > #teacherName {
    width : 100px;
}
#classRegister > table > thead > tr > #other {
    width : 250px;
}
.otherBtn {
    display : flex;
    justify-content : space-evenly;
}
td {
    padding : 10px 0px;
}
#studentRegister {
    padding : 0px 10px;
}
#studentRegister > table > thead > tr > th {
    /* width : 300px; */
}