/* 
    작업순서
    HTML 레이아웃
    헤더 HTML -> 헤더 CSS
    본문 HTML -> 본문 CSS
    풋터 HTML -> 풋터 CSS
    권장
*/
* {
    /* border : solid 1px red; */
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
    font-size : 12px;
}
a {
    text-decoration : none;
    color : black;
}
li {
    list-style-type : none;
}

/* #region header */

#header {
    /* position : sticky;
    top : 0px;
    background-color: white;
    opacity: 80%; */
}
#top_header {
    display : flex;
    justify-content : flex-end;
    align-items: center;
    border-bottom : solid 1px #dbdbdb;
}
#top_header > li {
    margin : 10px;
}

#bottom_header {
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 0px 40px;
    position : sticky;
    top : 0px;
    background-color: white;
    opacity: 80%;
}
#bottom_header > #logo {
    width : 155px;
}
#bottom_header > ul {
    display : flex;
    align-items: center;
    width : 80%;
}
#bottom_header > ul > li {
    width : 80px;
    height : 80px;
}
#bottom_header > ul > li {
    display : flex;
    justify-content: center;
    align-items: center;
    position : relative;
}
#bottom_header > ul > li > .sub_menu {
    display :none;
    position : absolute;
    background-color: white;
    top: 80px;
    text-align: center;
    width : 130%;
}
#bottom_header > ul > li:hover .sub_menu {
    display : block;
}
#bottom_header > ul >li > .sub_menu > li {
    margin : 10px;
}
#bottom_header > #search_input {
    display : flex;
    border-bottom : solid 1px black;
}
#bottom_header > #search_input > input {
    border : none;
}

/* #endregion header */

/* #region main_image */

#wrap > img {
    width: 100%;
}

/* #endregion main_image */

/* #region main */
#main {
    margin : 0px auto;
    width : 1600px;
    text-align: center;
}
#main > #products {
    display : flex;
    flex-wrap : wrap;
    justify-content: space-between;
    margin-bottom : 40px;
}
#main > #products > .product_item {
    margin : 30px 0px;
    width: 380px;
}
#main > #products > .product_item > .product_image > img {
    width : 100%;
}
#main > #products > .product_item > .product_color_review {
    display : flex;
    justify-content : space-between;
    color : #999999;
}
#main > #products > .product_item > .product_color_review > .product_color {
    display : flex;
}
#main > #products > .product_item > .product_content {
    text-align: start;
}
#main > #products > .product_item > .product_content > .product_price {
    position : relative;
}
#main > #products > .product_item > .product_content > .product_price > .discount_rate {
    position : absolute;
    top : 0px;
    right : 0px;
    color : red;
    font-size : 15px;
    font-weight : bold;
}
/* #endregion main */

/* #region footer */

#footer > #top_footer {
    background-color : #f7f7f7;
}
#footer > #top_footer > #footer_box {
    display : flex;
    justify-content : space-between;
    align-items : center;
    margin : 0px auto;
    padding : 50px;
    width : 1400px;
}
#footer > #top_footer > #footer_box > div > h3 {
    margin : 10px 0px;
    font-size : 18px;
}

#footer > #bottom_footer {
    margin : 30px auto;
    text-align : center;
    width : 1600px;
    line-height: 160%;
    font-size : 10px;
    color : #999999;
}

/* #endregion footer */