@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
* {
    /* border : solid 1px red; */
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;
    font-family : Noto Sans KR,Malgun Gothic,sans-serif;
}
a {
    color : black;
    text-decoration : none;
}
li {
  list-style-type : none;  
}

/* #region main */

#main > #ticket_reservation {
    position: relative;
    max-width: inherit;
    height : 400px;
    background-image : url("./img/main_page/main_banner.jpg");
    background-size : cover;
    background-repeat: no-repeat;
    background-position: left center;
}
#main > #ticket_reservation > #main_service {
    margin-top : -150px;
    margin-left : -590px;
    position : absolute;
    top : 50%;
    left : 50%;
    width : 1180px;
    height : 220px;
    border-radius : 20px;
    /* background-color: #65728a; */
}
#main > #ticket_reservation > #main_service > #main_service_top {
    position: relative;
    display : flex;
    justify-content: center;
    align-items : center;
}
#main > #ticket_reservation > #main_service > #main_service_top > a {
    width : 25%;
}
#main > #ticket_reservation > #main_service > #main_service_top > button {
    padding : 15px 30px;
    border : solid 0px black;
    border-top-left-radius : 15px;
    border-top-right-radius : 15px;
    width : 25%;
    text-align: center;
    color : #ffffff;
    background-color: #65728a;
    font-size : 16px;
    cursor : pointer;
}
#main > #ticket_reservation > #main_service > #main_service_top > button:hover {
    color : #ffffff;
    text-decoration : underline;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing {
    margin-bottom : 30px;
    padding : 0px 40px;
    position : absolute;
    top : 54px;
    left : 0px;
    width : 100%;
    height: 220px;
    /* border-radius: 20px; */
    border-top-right-radius: 20px;
    border-bottom-left-radius : 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    z-index: 11;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top {
    padding : 30px 0px;
    display : flex;
    justify-content : space-between;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top > #ticketing_top_left {
    display : flex;
    align-items: center;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top > #ticketing_top_left > div {
    /* margin : 0px 30px 0px 0px; */
    display : flex;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top > #ticketing_top_left > #t_t_l {
    margin-right : 30px;
    border : solid 1px #d9dbe1;
    border-radius : 30px;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top > #ticketing_top_left > #t_t_l > #tk {
    padding : 10px 20px;
    border-radius : 30px;
    color : white;
    background-color: #00256c;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top > #ticketing_top_left > #t_t_l > #mtk {
    padding : 10px 20px;
    border-radius : 30px;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top > #ticketing_top_left > #ttl {
    position: relative;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top > #ticketing_top_left > #ttl > a {
    padding : 0px 10px;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top > #ticketing_top_left > #ttl > #ttl_1 {
    font-weight : bold;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top > #ticketing_top_left > #ttl > #ttl_2 {
    color : #555555;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top > #ticketing_top_left > #ttl > .opener {
    border : none;
    background-color: #00000000;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top > #ticketing_top_left > #ttl > div {
    position : absolute;
    top : 25px;
    left : 10px;
    width :30px;
    height: 3px;
    background-color: red;
}

#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top > #ticketing_top_right {
    display : flex;
    align-items: center;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top > #ticketing_top_right > div {
    margin : 0px 10px;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_top > #ticketing_top_right > .opener {
    border : none;
    background-color: #00000000;
}

#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom {
    display : flex;
    justify-content : space-between;
    align-items : center;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_1 {
    display : flex;
    justify-content : center;
    align-items: center;
    width : 24%;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_1 > div {
    padding : 10px;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_1 > div > .city {
    font-size : 32px;
    font-weight : bold;
    text-align: center;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_1 > div > div {
    text-align: center;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_2 {
    padding-bottom : 10px;
    border-bottom : solid 1px black;
    width : 25%;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_2 > p {
    margin : 10px 0px;
    font-size : 14px;
    color : #767676;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_2 > div > button {
    width : 100%;
    border : none;
    /* border-bottom : solid 1px black; */
    background-color: white;
    font-size : 16px;
    color : #767676;
    text-align: start;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_3 {
    padding-bottom : 10px;
    border-bottom : solid 1px black;
    width : 13%;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_3 > p {
    margin : 10px 0px;
    font-size : 14px;
    color : #767676;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_3 > div > button {
    width : 100%;
    border : none;
    background-color: white;
    font-size : 16px;
    color : black;
    font-weight : bold;
    text-align: start;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_4 {
    padding-bottom : 10px;
    border-bottom : solid 1px black;
    width : 13%;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_4 > p {
    margin : 10px 0px;
    font-size : 14px;
    color : #767676;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_4 > div > button {
    width : 100%;
    border : none;
    background-color: white;
    font-size : 16px;
    color : #767676;
    text-align: start;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_5 {
    margin-top : 30px;
    margin-right : 10px;
    display : flex;
    align-items: end;
    width : 10%;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing > #ticketing_bottom > #t_b_5 > button {
    padding : 10px;
    border-radius: 10px;
    font-size : 16px;
    color : white;
    background-color: #00256c;
}
#main > #ticket_reservation > #main_service > #main_service_top > #ticketing_back {
    margin-bottom : 30px;
    padding : 0px 40px;
    position : absolute;
    top : 54px;
    left : 0px;
    width : 100%;
    height: 220px;
    /* border-radius: 20px; */
    border-bottom-left-radius : 20px;
    border-bottom-right-radius: 20px;
    background-color: #65728a;
    z-index: 10;
}


/* #region main > top_information */

#main > #top_information {
    display : flex;
    justify-content : center;
    margin : 100px;
}

#main > #top_information > .top_box {
    margin : 10px;
    border : solid 3px #f7f7f7;
    border-radius : 10px;
    background-color: #ffffff;
    width : 400px;
    height : 100%;
    box-shadow : 0px 0px 15px #0000001a;
}
#main > #top_information > .top_box > a > p {
    margin-bottom : 30px;
    padding : 20px 30px;
    font-size : 1.15em;
    font-weight : bold;
}
#main > #top_information > .top_box > a > .img_box > img {
    border-radius : 10px 10px 0px 0px;
    width : 100%;
    height : 100%;
}

/* #endregion main > top_information */

/* #region main > middle_information */

#main > #middle_information {
    margin-bottom : 80px;
    width : 100%;
}
#main > #middle_information > #middle_top {
    margin : 0px auto 30px auto;
    margin-bottom : 30px;
    display : flex;
    justify-content : center;
    align-items: center;
}
#main > #middle_information > #middle_top > #middle_top1 {
    width : 1200px;
}
#main > #middle_information > #middle_top > #middle_top2 {
    position : relative;
}
#main > #middle_information > #middle_top > div > p {
    font-size : 28px;
    font-weight : bold;
}
#main > #middle_information > #middle_top > div > a {
    font-size : 14px;
    color : #555555;
}
#main > #middle_information > #middle_top > div > #bc {
    display : inline-block;
    position : absolute;
    bottom : 0px;
    left : 0px;
    z-index: -1;
    width : 52px;
    height : 8px;
    background-color : #8be0f8;
}
#main > #middle_information > #middle_bottom {
    display : flex;
    justify-content : center;
}
#main > #middle_information > #middle_bottom > ul {
    margin-right : 50px;
    width: 705px;
}
#main > #middle_information > #middle_bottom > ul > li {
    padding : 25px 0px;
    display : flex;
    justify-content : space-between;
    border-bottom : solid 1px #d9dbe1;
    font-size : 16px;
    font-weight : bold;
}
#main > #middle_information > #middle_bottom > ul > li > .date_color {
    font-size : 14px;
    font-weight :normal;
    color : #767676;
}
#main > #middle_information > #middle_bottom > div {
    position : relative;
    width : 500px;
}
#main > #middle_information > #middle_bottom > div > img {
    /* width : 500px; */
    border-radius : 10px;
    width : 100%;
}
#main > #middle_information > #middle_bottom > div > div {
    margin-right : 215px;
    padding : 45px;
    position : absolute;
    top : 0px;
    left : 0px;
    color : white;
}
#main > #middle_information > #middle_bottom > div > div > span {
    display : inline-block;
    margin-bottom : 10px;
    font-size : 18px;
    font-weight: 700;
}
#main > #middle_information > #middle_bottom > div > div > p {
    font-size : 14px;
    line-height: 160%;
}

/* #endregion main > middle_information */

/* #endregion main */