#calTop {
    margin : 20px 30px;
    display : flex;
    justify-content : center;
    align-items : center;
}
#calTop > h4 {
    margin : 0px 10px;
}
#calTop > button {
    width : 30px;
    height : 30px;
}

#calBottom {
    display : flex;
    flex-wrap : wrap;
}
#calBottom > div {
    width : 14%;
    height : 100px;
    border : solid 1px #eeeeee;
    font-weight : bold;
}
#calBottom > .week {
    /* padding : 20px 0px; */
    height : 32px;
    text-align : center;
    font-size : 22px;
}
#calBottom > #sunday {
    background-color : red;
    color : white;
}