/*
    CSS 주석 처리
*/

/* 1. 전체 선택자 */
* {color : red;}

/* 2. 마크업 선택자 */
h4 {color : yellow;}

/* 3. 클래스 선택자(복수 가능) : 여러 마크업들이 동일한 클래스 명을 가질 수 있다. */
.구역1 {color : blue;}
.구역3 {color : black;}

/* 4. 아이디 선택자(단일 가능) : 여러 마크업들이 동일한 아이디 명을 가질 수 없다. */
#구역2 {color : green;}
#구역4 {color : pink;}

/* 5. 복수 선택자 */
h5, h6 {color : brown;}

/* 6. 자식(하위-child) 선택자 */
div > h3 {color : aqua;}
div > .구역5 {color : purple;}

/* 자손 선택자 */ /* div 마크업 안에 있는 모든 h3 마크업 선택 */
div h3 {color : black;}