*{
    padding: 0px;
    margin: 0px;
    font-size: 50px;
}

#wrap {
    /* width : 400px; */
    width : 100%;
    margin : 0px auto;
}

#input_box {
    /* display : flex; */
}

#input_work {
    /* width : 300px; */
    width : 100%;
    padding : 15px;
    border : none;
    box-shadow : 0px 0px 3px red;
}

#input_work:focus {
    outline : none;
}

#add_work {
    padding : 15px;
    /* width : 100px; */
    width : 100%;
    border : none;
    box-shadow : 0px 0px 3px red;
}

.content_box {
    margin: 20px 0px;
    padding : 15px 10px;
    display : flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

.success {
    margin: 20px 0px;
    padding : 15px 10px;
    display : flex;
    justify-content: space-between;
    align-items: center;
    color : white;
    background-color : grey;
}

.success > label {
    text-decoration : line-through;
}