body {
    background-color : beige;
}

#header {
    height : 100px;
}

#main {}

#main > #sidebar {
    border : solid 1px red;
    width : 15%;
}
#main > #sidebar > #search_box {
    margin : 10px 5px;
}