* {
    padding: 0px;
    margin: 0 auto;
}

body {
    text-align: center;
}

.main {
    width: 380px;
    border: 1px solid #eceeee;
    margin-top: 20px;
    padding-top: 30px;
    text-align: center;
}

.instagram_logo {
    width: 200px;
    /* height: 50%; */
    padding: 10px;
}

.join_comment {
    font-weight: bold;
    padding: 10px 50px;
    color: rgb(115, 115, 115, 1);
}

.facebook_login {
    width: 75%;
    margin-top: 10px;    
    padding: 10px 5px;
    border-radius: 10px;
    background-color: rgb(0, 149, 246, 1);
}

.facebook_icon {
    width: 5%;
}

.facebook_login_link {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.divide_line {
    padding: 15px;
}

.databox {
    width: 70%;
    /* height: 30px; */
    padding: 10px 10px;
    border: 1px solid #eceeee;
    background-color: #fafafa;
    border-radius: 5px;
}

.notice {
    width: 75%;
    padding: 10px;
    /* margin: 0px auto; */
    font-size: 12px;
    color: rgb(115, 115, 115, 1);
}

.more_info_click {
    text-decoration: none;
}

.join_box {
    width: 75%;
    margin-top: 10px;    
    padding: 10px 5px;
    border-radius: 10px;
    background-color: rgb(0, 149, 246, 1);   
}

.submit_button {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: rgb(76, 181, 249, 1);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
}

.login_box {
    width: 380px;
    border: 1px solid #eceeee;
    margin: 0px auto;
    margin-top: 10px;
    padding: 30px 0px;
    text-align: center;
    font-size: 14px;
}

.login_link {
    font-weight: bold;
    color: rgb(0, 149, 246, 1);
    text-decoration: none;
}

.app_download_box {    
    padding: 20px 0px;
    font-size: 14px;
}

.banner {
    width: 150px;
    height: 40px;
}

.footer {
    margin-top: 50px;
    color: rgb(115, 115, 115, 1);
    font-size: 12px;    
}

.footer_menu {
    word-spacing: 10px;
    margin-bottom: 5px;
}

.language {
    color: rgb(115, 115, 115, 1);
    border: 0px;    
}

.divider-line {
    flex: 1;
    height: 1px;
    background: #dbdbdb;    
}